<html>
<link rel="stylesheet" href="http://localhost:8000/s/ejs/assets/admin.css">

<div class="login-page">
    <div class="form">
        <form class="login-form" method=POST action="">
        <input type="text" name=username placeholder="username"/>
        <input type="password" name=password  placeholder="password"/>
        <button>login</button>
        
      </form>
    </div>
  </div>

  </html>