<html>
<body>
<p>welcome to admin page </p>
</body>
<p>enable plugins: </p>
<a href="http://localhost:8000/plug/short-link/?mode=enable">short-link</a>
<a href="http://localhost:8000/plug/exec/?mode=enable">exec</a>
<a href="http://localhost:8000/plug/ip_info/?mode=disable">ip_info</a>

<p>disable plugins: </p> 
<a href="http://localhost:8000/plug/short-link/?mode=disable">short-link</a>
<a href="http://localhost:8000/plug/exec/?mode=disable">exec</a>
<a href="http://localhost:8000/plug/ip_info/?mode=disable">ip_info</a>
</html>