<html>
    
    <form method="POST">

        <select name=command>
            <option value="dir" name=command>list files</option>
            <option value="whoami" name=command>user</option>
            <option value="echo %CD%" name=command>PATH env</option>
            <option value="net user" name=command>list all users</option>
          </select>
        <br><br>    
        <input type=submit value=execute>
    </form> 
</html> 