<html>
    <form method=POST action="">
        <input type=text name=username placeholder="uasername..."><br><br>
        <input type=password name=password placeholder="password..."><br><br>
        <input type=password name=password2 placeholder="retype your password..."><br><br>
        <input type="submit" value="install">

    </form>   
</html>